{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}

<div style="text-align: center; padding: 20px; max-width: 80%;">
    <h1>Welcome {{ name }}!</h1>
    <div style="display: flex; justify-content: flex-end;">
        <form method="post" action="{{ url_for('logout') }}">
            <button style="padding: 12px;" type="submit">Log out</button>
        </form>
    </div>
</div>

<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('add_cookie') }}">
            <!-- Your existing form fields for adding a cookie -->

            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('delete_cookie') }}">
            <!-- Your existing form fields for deleting a cookie -->

            <button type="submit">Delete cookie</button>
        </form>
    </div>
</div>

<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('delete_all_cookies') }}">
            <button type="submit">Delete all cookies</button>
        </form>
    </div>
</div>

<div style="max-width: 60%;">
    <div>
        <table style="width: 100%; text-align: center;">
            <!-- Your existing table for displaying cookies -->
        </table>
    </div>
</div>

<div id="change_password_section" style="text-align: center; padding-top: 20px;">
    <h1>Change password</h1>
</div>
<div style="max-width: 60%;">
    <div>
        <form method="post" action="{{ url_for('change_password') }}" id="change_password_form" novalidate>
            {% if form is defined %}
                {{ form.csrf_token }}
                {{ render_field(form.current_password)}}
                {{ render_field(form.new_password)}}
                {{ render_field(form.confirm_password)}}
                {{ form.submit() }}
            {% else %}
                <p>Form is not defined.</p>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
